/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-color: green;
 
}

section{
width: 100%;
gap: 30px;
display: flex;
justify-content: center;
}

h3{
  font-size: 40px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
